body { 
background: #000000;
text-align: center;
}
#main {
	width: 1000px;
	height: 625px;
	background: #f20505;
	margin: 25px auto;
	border: solid 2px #ff3819;

}
h1 {
	
	font-family:"Times New Roman";
	font: 24pt;
	color: #ffffff;
}
hr {
	height: 2px;
	color: #ff3819;
}
p {
	font-family: "Times New Roman";
	font-size:12pt;
	text-indent: 48px;
	color: #ffffff;
}
tr{
	table-layout: auto;
}
iframe {
	height: 300px;
	width : 500px;
}